.appContent {
  display: flex;
  top: 0;
  left: 0;
  overflow: auto;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-image: url('../assets/images/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
