.oval {
  width: 1.3125rem;
  background-image: url('../../../assets/images/ic-oval.svg');
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0.9375rem;
  padding: 0.3125rem;
  color: white;
  font-weight: normal;
}
