@import 'style/_colors.scss';
@import 'style/_fonts.scss';

.cardLabel {
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $darkish-blue;
}

.title {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 1.5625rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $darkish-blue;
}
