@import 'style/_colors.scss';
@import 'style/_fonts.scss';

.cardTitle {
  font-size: 2.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $dark-slate-blue;
  margin: 0;

  margin-top: 10px;
  margin-bottom: 25px;
}

.cardInfo {
  font-size: 1.5625rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
  margin: 0;
}

.fcButton {
  width: 15.625rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
