@import 'style/_colors.scss';
@import 'style/_fonts.scss';

.formLabel {
  font-size: 0.75rem;
  font-weight: bold;
  align-self: center;
  color: #4f4f4f;
  text-transform: uppercase;
  margin-right: 20px;
}

.title {
  font-size: 1.125rem;
  text-align: center;
  font-weight: bold;
  color: #4f4f4f;
  max-width: 39.375rem;
  margin-bottom: 2.8125rem;
}

.cardSource {
  margin-top: 10px;

  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

.editInformations {
  margin-top: 10px;
  font-size: 1.25rem;
  color: $dark-slate-blue;
  font-weight: bold;

  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.informationValue {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4f4f4f;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;

  svg {
    max-width: 100%;
    height: auto !important;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
