$darkish-blue: #003189;
$darkish-blue-alpha: #00318915;
$light-grey-blue: #8eaadb;
$light-navy-blue: #2f5496;
$peacock-blue: #034ea1;
$black: #000000;
$pale: #e7e6e6;
$white: #ffffff;
$charcoal-grey: #414047;
$lipstick: #cf2128;
$very-light-pink: #c0c0c0;
$dark-slate-blue: #1f3864;
$dark-slate-blue-alpha: #1f386415;
$leaf: #78962f;
