@import 'style/_colors.scss';

// Reset gutters.
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: $darkish-blue; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: $darkish-blue; /* Gecko Browsers */
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

html {
  font-size: 1rem; // 0.6875rem;
}

@media (min-width: 600px) {
  html {
    //font-size: 0.6875rem;
    font-size: calc(0.6329044117647059rem + 0.14558823529411768vw);
  }
}

@media (min-width: 1280px) {
  html {
    // l'interpolation linéaire
    // font-size: calc(-0.55rem + 1.55vw);
    font-size: calc(-0.27000000000000046rem + 1.2750000000000006vw);
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 1rem;
  }
}
