// Customize antd less variables here, with equivalent sass variable
// See https://ant.design/docs/react/customize-theme
// And https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

$primary-color: #cf022b; // Primary color for all components.
$link-color: #1890ff; // link color.
