{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": ["node 6", "> 1%", "ie >= 11"]
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }, "ant"]
      ]
    },

    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": ["node 6", "> 1%"]
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }, "ant"]
      ]
    },

    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": ["node 6", "> 1%"]
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }, "ant"]
      ]
    }
  }
}
