<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Dossier Numérique du Citoyen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- App mount point -->
    <div id="app"></div>
  </body>
</html>
