<Configuration monitorInterval="60">
    <Properties>
        <Property name="logdir">target/test-classes/logs</Property>
        <Property name="archive-path">target/test-classes/logs/archive</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread [%X{correlationId}] [%-5level] : %class{0} - %msg%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="App-File-Appender" fileName="${logdir}/app.log"
                     filePattern="${archive-path}/app.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread [%X{correlationId}] [%-5level] : %class{0} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="9">
                <Delete basePath="${archive-path}">
                    <IfFileName glob="app.log.*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="SpringBoot-File-Appender" fileName="${logdir}/spring.log"
                     filePattern="${archive-path}/spring.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread [%X{correlationId}] [%-5level] : %class{0} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="9">
                <Delete basePath="${archive-path}">
                    <IfFileName glob="spring.log.*"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>

        <Root level="INFO" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>